<!DOCTYPE html>
<html lang="en">
<head>
    meta charset="UTF-8">
    <title>Bienvenidos a MercadoLiebre</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <header class="contenedor-header">

        <img class="logo" src="/images/logo-mercado-liebre.svg">
        <form action="#" method="POST">
            <input type="text" name="campo-texto">
            <button class="boton_buscar" type="submit" name="boton-buscar"><i class="fa fa-search"></i></button>
        </form>
        <!--<div class="for contenedor-flex-header" action="#" method="GET">
            <div class="input text-box" >Buscar productos, marcas</div>
            <div class="submit buscar"><i class="fa fa-search"></i></div>
        </div>-->
        <div class="justificar-centro">
            <p ><i class="fas fa-hand-holding-usd "></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>

        <nav class="ocultar">
            <ul class="estilo-lista">
                <li><a class="estilo-enlace" href="#">Ofertas</a></li>
                <li><a class="estilo-enlace" href="#">Tiendas Oficiales</a></li>
                <li><a class="estilo-enlace" href="#">Vender</a></li>
                <li><a class="estilo-enlace" href="#">Ayuda</a></li>
            </ul>
        
            <ul class="estilo-lista">
                <li><a class="estilo-enlace2" href="/register.html">Creá tu cuenta <i class="far fa-address-card"></i></a></li>
                <li><a class="estilo-enlace2" href="/login.html">Ingresá<i class="fas fa-sign-in-alt"></i></a></li>
                <li><a class="estilo-enlace2" href="#">Mis compras<i class="fas fa-shopping-basket"></i></a></li>
            </ul>
            
        </nav>
        <div class="hamburger-buttom">
            <i class="fas fa-bars"></i>
        </div>

    </header>
    <form action="#" method="POST" class="form">
        <label for="nombre">Nombre y Apellido</label>
        <input type="text" name="nombre" id="nombre"><br>

        <label for="Usuario">Nombre de Usuario</label>
        <input type="text" name="usuario" id="usuario"><br>

        <label for="fecha-nac">Fecha de Nacimiento</label>
        <input type="date" name="fecha-nac" id="fecha-nac"><br>

        <label for="domicilio">Domicilio</label>
        <input type="text" name="domicilio" id="domicilio"><br>

        <section class="estilo-radio-but">
            <label for="perfil">comprar</label>
            <input type="radio" name="perfil" id="perfil">

            <label for="perfil">Vender</label>
            <input type="radio" name="perfil" id="perfil">
        </section><br>

        <label for="interes">electro</label>
        <input type="checkbox" name="interes" id="interes-1"><br>

        <label for="interes-2">Moda</label>
        <input type="checkbox" name="interes" id="interes-2"><br>

        <label for="interes-3">Hogar</label>
        <input type="checkbox" name="interes" id="interes-3"><br>

        <label for="interes-4">Jugueteria</label>
        <input type="checkbox" name="interes" id="interes-4"><br>

        <label for="interes-5">Vida Sana</label>
        <input type="checkbox" name="interes" id="interes-5"><br>

        <label for="contraseña" >Contraseña</label>
        <input  type="password" name="contraseña" id="contraseña"><br>

        <label for="contraseña1">Confirma Contraseña</label>
        <input type="password" name="contraseña" id="contraseña1"><br>

        <button type="submit" name="boton-enviar" id="enviar">Enviar</button>

        <button type="reset" name="boton-borrar" id="borrar">Borrar</button>

    </form>
    <footer >
        <div class="contenedor-pie">
            <section class="estilo-seccion-pie">
                <i class="fas fa-credit-card"></i>
                <h4>Pagá con tarjeta o en efectivo</h4>
                <p> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro! </p>
            </section>

            <section class="estilo-seccion-pie">
                <i class="fas fa-gift"></i>
                <h4>Envío gratis desde $ 2.500</h4>
                <p> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles deproductos. Es un beneficio de Mercado Puntos. </p>
            </section>
            <section class="estilo-seccion-pie">
                <i class="fas fa-user-shield"></i>
                <h4>Seguridad, de principio a fin</h4>
                <p> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,porque estás siempre protegid@. </p>
            </section>
        </div>
        <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>

    </footer>
</body>
</html>